:root {
  --length: 1.5rem;
}

#NavBar {
  background-color: var(--color1);
  color: var(--color2);
  display: flex;

  padding-top: 2vh;
  padding-bottom: 2vh;
}

a {
  color: var(--color2);
  text-decoration: none;
}

#Logo {
  flex: 1;
  font-size: var(--length);
  padding-left: 3vw;
}

#Tab {
  display: flex;
  padding-right: 3vw;
}

#Tab div {
  flex-wrap: nowrap;
  flex: 1;
  position: relative;
}

.NavButton {
  width: calc(5.5 * var(--length));
  /* width: 6rem; */
  text-align: center;
  font-size: var(--length);
}

.NavButton:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 0%;
  height: 2px;
  background: var(--color3);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.NavButton:after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 100%;
  width: 0%;
  height: 2px;
  background: var(--color3);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.NavButton:hover {
  color: var(--color3);
}

.NavButton:hover:before {
  right: 0;
  width: calc(2.75 * var(--length));
}

.NavButton:hover:after {
  left: 0;
  width: calc(2.75 * var(--length));
}

#OCD1 {
  flex: 1;
  margin-left: 3rem;
}

#OCD2 {
  flex: 1;
  margin-left: 2rem;
}
