#HomePage {
  background-color: var(--color1);
  color: var(--color2);
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#left {
  flex: 14;
  flex-wrap: wrap;
}

#right {
  flex: 8;
  /* align-self: flex-start; */
}

#sunflower {
  /* transform: scale(1); */
  max-height: 100%;
  /* -webkit-transform: scale(1); */
  /* padding-right:  */
}
