:root {
  --color1: rgba(20, 20, 20, 1);
  --color2: rgba(255, 255, 255, 1);
  --color3: rgba(255, 157, 0, 1);
  --color3dark: rgba(178, 97, 0, 1);
  --color4: rgba(117, 159, 56, 1);
  --color4dark: rgba(79, 108, 37, 1);
}

body {
  height: 100vh;
  margin: 0;
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    "Helvetica"; */
  font-family: "Courier New";
}
